<!-- example of use for inidividual charts rather than a complete app -->

<!-- radar chart use -->
<kypo-clustering-visualization
        [selectedComponent]="clusterables.NDimensional"
        [selectedFeature]="components.RADAR_CHART"
        [trainingDefinitionId]="trainingDefinitionId"
        [trainingInstanceId]="trainingInstanceId"
        [numOfClusters]="numOfClusters"
        [level]="level">
</kypo-clustering-visualization>

<!-- scatterplot time after hint use -->
<kypo-clustering-visualization
        [selectedComponent]="clusterables.TimeAfterHint"
        [selectedFeature]="clusterables.TimeAfterHint"
        [trainingDefinitionId]="trainingDefinitionId"
        [trainingInstanceId]="trainingInstanceId"
        [numOfClusters]="numOfClusters"
        [level]="level"
        [isStandalone]="false">
</kypo-clustering-visualization>

<!-- scatterplot wrong flags use -->
<kypo-clustering-visualization
        [selectedComponent]="clusterables.WrongFlags"
        [selectedFeature]="clusterables.WrongFlags"
        [trainingDefinitionId]="trainingDefinitionId"
        [trainingInstanceId]="trainingInstanceId"
        [numOfClusters]="numOfClusters"
        [level]="level"
        [isStandalone]="false">
</kypo-clustering-visualization>

