<div>
   <h1>Cluster analysis and visualization</h1>
   <div>
       <mat-sidenav-container class="sidenav accordion-flush">
           <mat-sidenav mode="side" opened>

               <!--    Choose from available visualizations-->
               <button mat-button>Scatter plot</button>
                    <div class="row">
                        <button mat-button
                                (click)="selectedComponent=0;selectedFeature=0">
                            Wrong flags per time played
                        </button>
                    </div>
                    <div class="row">
                        <button mat-button
                                (click)="selectedComponent=0;selectedFeature=1">
                            Time spent after using a hint
                        </button>
                    </div>

                <div panelClass="bg-dark">
                    <button mat-button
                            (click)="selectedComponent=2">Radar chart
                    </button>
                </div>

               <hr/>

               <div style="margin: 15px">
                   <p>Testing parameters:</p>
                   <!-- inputs for testing purposes -->
                   <mat-form-field appearance="fill">
                       <mat-label>Number of clusters:</mat-label>
                       <input matInput type="number" [(ngModel)]="numOfClusters">
                   </mat-form-field>
                   <br/>
                   <mat-form-field appearance="fill">
                       <mat-label>Training definition identification:</mat-label>
                       <input matInput type="number" [(ngModel)]="trainingDefinitionId">
                   </mat-form-field>
                   <br/>
                   <button type="submit" mat-flat-button color="primary">Recalculate w/ new data</button>

               </div>
            </mat-sidenav>

           <!-- Main content -->
           <mat-sidenav-content style="margin-left: 235px;">

               <!--<div>
                   <app-radar-chart *ngIf="selectedComponent==COMPONENTS.RADAR_CHART"
                   ></app-radar-chart>
                   <app-scatter *ngIf="selectedComponent==COMPONENTS.SCATTER"
                                [feature]="selectedFeature"
                   ></app-scatter>
                   <app-line-chart
                           *ngIf="selectedComponent==COMPONENTS.LINE_CHART"
                           [feature]="selectedFeature"
                   ></app-line-chart>
               </div>
               -->
               <kypo-clustering-visualization
                        [trainingDefinitionId]="trainingDefinitionId"
                        [trainingInstanceId]="trainingInstanceId"
                        [numOfClusters]="numOfClusters"
                        [isStandalone]="true"
               >
               </kypo-clustering-visualization>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</div>
