<div>
   <h1>Cluster analysis and visualization</h1>
   <div>
       <mat-sidenav-container class="sidenav accordion-flush">
           <mat-sidenav mode="side" opened>

               <!--    Choose from available visualizations-->
               <mat-list-item>
                   <div class="title">Visualizations</div>
                   <mat-divider></mat-divider>
               <button mat-button class="nav-link" (click)="isSubmenuOpen=!isSubmenuOpen">
                   <span>Two features comparison</span></button>
                <div *ngIf="isSubmenuOpen">
                    <button mat-button class="nav-link"
                            (click)="selectedComponent=0;selectedFeature=0">
                        <span>Wrong flags per time played</span>
                    </button>
                    <br/>
                    <button mat-button class="nav-link"
                            (click)="selectedComponent=0;selectedFeature=1">
                        <span>Time spent after using a hint</span>
                    </button>
                </div>

                <div>
                    <button mat-button class="nav-link"
                            (click)="selectedComponent=2;selectedFeature=2">
                        <span>Behaviour correlation chart</span>
                    </button>
                </div>
               </mat-list-item>

               <mat-list-item>
                   <div class="title">Testing parameters</div>
                   <mat-divider></mat-divider>
                   <!-- inputs for testing purposes -->
                   <mat-form-field appearance="fill">
                       <mat-label>Number of clusters:</mat-label>
                       <input matInput type="number" [(ngModel)]="numOfClusters">
                   </mat-form-field>
                   <br/>
                   <mat-form-field appearance="fill">
                       <mat-label>Training definition identification:</mat-label>
                       <input matInput type="number" [(ngModel)]="trainingDefinitionId">
                   </mat-form-field>
                   <br/>
                   <button type="submit" mat-flat-button color="primary">Recalculate w/ new data</button>
               </mat-list-item>
            </mat-sidenav>

           <!-- Main content -->
           <mat-sidenav-content style="margin-left: 235px;">
               <kypo-clustering-visualization
                        [selectedComponent]="selectedComponent"
                        [selectedFeature]="selectedFeature"
                        [trainingDefinitionId]="trainingDefinitionId"
                        [trainingInstanceId]="trainingInstanceId"
                        [numOfClusters]="numOfClusters"
                        [isStandalone]="true"
               >
               </kypo-clustering-visualization>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</div>
